# Dependencias
node_modules

# Build local
dist

# Logs
npm-debug.log
yarn-error.log
logs

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
docker-compose.prod.yml

# Entorno
.env

# Tests (si no los corrés en build)
test
tests
coverage

# OS
.DS_Store