DB_PASSWORD=
DB_NAME=
DB_USERNAME=
DB_HOST=
DB_PORT=
JWT_SECRET=


PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_OAUTH_URL=
PAYPAL_ORDERS_URL=

EMAIL=  (seller)
PASSWORD= (seller)

PORT=


BUYER_EMAIL=  (buyer)
PASSWORD_WITH_BUYER= (buyer)